body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(rgba(240, 239, 235, 0.8),rgba(183, 183, 164, 0.5));
}

.jumbotron {
    background-image: linear-gradient(rgba(255, 241, 230, 1),rgba(203, 153, 126,1));
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 2em;
}

h2 {
    font-weight: 600;
    font-size: 2.4em;
}

h3 {
    font-weight: 400;
    font-size: 1.2em;
}

.card {

    border-radius: 15px;
    align-self: center;
    background: #fafafa;
    background: linear-gradient(180deg,#fafafa,#ededed);
    border: unset;
    color: #222831;
}

.card:hover {
    box-shadow: 12px 17px 15px #868686;
    transition: 0.5s;
}

.card-img-top{
    border-radius: 15px 15px 0 0;
}